<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sandbox</title>
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/4.0/examples/album/album.css" rel="stylesheet">
    <!-- client-server data exchange script -->
    <script>
        // extracted the basic onload function to simplify the code
        function basic_update_from_response(){
            if (this.status === 200) {
                var blob = this.response;
                var img = document.createElement("img");
                img.onload = function (e) {
                    window.URL.revokeObjectURL(img.src);
                };
                img.id = "image";
                img.src = window.URL.createObjectURL(blob);
                $("#div1").html(img);
            }
        }
        // image update
        function update_image(url){
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.responseType = "blob";
            xhr.onload = basic_update_from_response;
            contrast_update('/contrast_update');
            xhr.send();
        }

        // json file sending
        function sendMessage(record) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/click', true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.responseType = "blob";
            xhr.onload = basic_update_from_response;
            if(record.type === 'box'){
                var offset = $("#div1").offset();
                xhr.send(JSON.stringify({
                    'x': parseInt(record.startX.split('p')[0], 10)- Math.round(offset.left),
                    'y': parseInt(record.startY.split('p')[0], 10)- Math.round(offset.top),
                    'h': parseInt(record.h.split('p')[0], 10),
                    'w': parseInt(record.w.split('p')[0], 10),
                    'type': record.type,
                    'catagrey': record.catagrey
                }));
            }

            if(record.type === 'line'){
                //console.log(record.list);
                xhr.send(JSON.stringify({
                    'list': record.list,
                    'type': record.type,
                    'catagrey': record.catagrey
                }));
            }
        }

    </script>
    <script type="text/javascript">
        function zoom(event) {
            console.log('scrolling may begin!');
            var e = event || window.event; 
            var x = e.clientX;
            var y = e.clientY;
            console.log(x);
            console.log(y);
            var dz = e.deltaY;
            if(dz > 0) {
                dz = 1; 
            } if (dz < 0) {
                dz = -1; 
            }
            var e = event || window.event; 
            var xhr = new XMLHttpRequest();
            var zoom_dir;
            var divPos = {};   //might not need this 
            var offset = $("#div1").offset();
            console.log(offset.left);
            console.log(offset.top);
            console.log(x);
            console.log(y);
            xhr.open('POST', '/zoom_ctrl', true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.responseType = "blob";
            xhr.onload = basic_update_from_response;
            xhr.send(JSON.stringify({'x': e.pageX - offset.left, 'y': e.pageY - offset.top, 'dz': dz})); 
        }
    </script>
    <script type="text/javascript">
        document.onkeydown = pan;
        function pan(event) {
            console.log('paning initialized!')
            var e = event || window.event;
            var kC = e.keyCode;
            console.log("kC = ", kC);
            
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/pan_ctrl', true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.responseType = "blob"; 
            xhr.onload = basic_update_from_response;
            xhr.send(JSON.stringify({'kC': kC}));
        }
    </script>


    <!-- script to update the contrast status bar --> 
    <script type="text/javascript">
        function contrast_update(url){
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.responseType = "";
            xhr.onload = function() {
                if (this.response) {
                    var contrast_bar = 50;
                    contrast_bar = parseInt(this.response)
                    $('#progressBar').css('width', contrast_bar+'%');
                    $('#progressBar').html(contrast_bar+'%');
                }
            }
            xhr.send();
        }
    </script>


    <!--TODO: place this css to a css file-->
    <!--TODO: extract javascript all to a separate js file-->
    <style type="text/css">
    .box {
        background: transparent;
        background-clip: padding-box;
        width: 0px;
        height: 0px;
        position: absolute;
        cursor: move;
        border-style: solid;
        border-width: 2px 2px;
        border-color: blue;
        resize: both;

    }
    </style>
    <script type="text/javascript">

    window.onload = function(e) {
        e = e || window.event;


        var startX, startY, diffX, diffY;

        var dragging = false;
        // for line drawing, TODO: the line drawing is not functional
        var myCanvas = document.getElementById('div1');
        myCanvas.width = window.innerWidth;
        myCanvas.height = window.innerHeight;
        var startX,startY,mouseX,mouseY;
        var drag=false;
        var list=[];

        // Important!!!
        // Using addEventListener inside the onload function instead of calling onclick() outside
        var bounding_box = document.getElementById("bounding_box");
        bounding_box.addEventListener("click", box_set, false);

        var reset = document.getElementById("reset");
        reset.addEventListener("click", reset_document, false);

        var line = document.getElementById("line");
        line.addEventListener("click", line_set, false);

        var set = document.getElementById("set");
        set.addEventListener("click", set_type, false);
        set.addEventListener("click", line_mousedown, false);

        // remove all teh listener
        function reset_document(){
            document.removeEventListener('mousedown',rect_mousedown, false);
            document.removeEventListener('mousemove', rect_mousedown, false);
            document.removeEventListener('mouseup', rect_mousedown, false);
            document.removeEventListener('mousedown', line_mousedown, false);
            document.removeEventListener('mousemove', line_mousemove, false);
            document.removeEventListener('mouseup', line_mouseup, false);
        }
        // bind the bounding box listener to the image
        function box_set (e) {
            reset_document();
            document.addEventListener('mousedown', rect_mousedown, false);
            document.addEventListener('mousemove', rect_mousemove, false);
            document.addEventListener('mouseup', rect_mouseup, false);
        }
        // bind the line drawing listener to the image
        function line_set (e) {
            reset_document();
            console.log("line");
            document.addEventListener('mousedown', line_mousedown, false);
            document.addEventListener('mousemove', line_mousemove, false);
            document.addEventListener('mouseup', line_mouseup, false);
        }

        // implement the bounding box drawing
        function rect_mousedown(e){
            console.log("mouse down");
            startX = e.pageX;
            startY = e.pageY;
            console.log(e.target.id);
            if (e.target.className.match(/box/)) {

                dragging = true;

                if (document.getElementById("moving_box") !== null) {
                    document.getElementById("moving_box").style.borderColor = 'blue';
                    document.getElementById("moving_box").removeAttribute("id");
                }
                e.target.id = "moving_box";
                e.target.style.borderColor = 'red';

                diffX = startX - e.target.offsetLeft;
                diffY = startY - e.target.offsetTop;
                create_resize()
            }
            else if (e.target.id.match('image')) {
                var active_box = document.createElement("div");
                active_box.id = "active_box";
                active_box.className = "box";
                active_box.style.top = startY + 'px';
                active_box.style.left = startX + 'px';
                active_box.style.borderColor = 'red';
                document.body.appendChild(active_box);
                active_box = null;
            }
        };


        function rect_mousemove(e) {
            if (document.getElementById("active_box") !== null) {
                var ab = document.getElementById("active_box");
                ab.style.width = e.pageX - startX + 'px';
                ab.style.height = e.pageY - startY + 'px';
            }

            if (document.getElementById("moving_box") !== null && dragging) {
                var mb = document.getElementById("moving_box");
                mb.style.top = e.pageY - diffY + 'px';
                mb.style.left = e.pageX - diffX + 'px';
            }
        };

        function rect_mouseup(e) {
            dragging = false;
            if (document.getElementById("active_box") !== null) {
                var ab = document.getElementById("active_box");
                ab.removeAttribute("id");
                if (ab.offsetWidth < 15 || ab.offsetHeight < 15) {
                    document.body.removeChild(ab);
                }
            }
        };


        // for resize the bounding box, need to add a small box in the bottom left corner
        function create_resize(e){
            var element = document.getElementById('moving_box');
            if(element.childElementCount === 0){
                var resizer = document.createElement('div');
                resizer.className = 'resizer';
                resizer.style.width = '8px';
                resizer.style.height = '8px';
                resizer.style.background = 'red';
                resizer.style.position = 'absolute';
                resizer.style.right = 0;
                resizer.style.bottom = 0;
                resizer.style.cursor = 'se-resize';
                element.appendChild(resizer);
                resizer.addEventListener('mousedown', init_resize, false);
            }
        }
        function init_resize(e) {
            var element = document.getElementById('moving_box');
            element.addEventListener('mousemove', resize, false);
            element.addEventListener('mouseup', stop_resize, false);
        }
        function resize(e) {
            if(e.target.className.match(/resizer/)){
                var element = e.target.parentElement;
                element.style.width = (e.clientX - element.offsetLeft) + 'px';
                element.style.height = (e.clientY - element.offsetTop) + 'px';
            }

        }
        function stop_resize(e) {
            var element = document.getElementById('moving_box');
            element.removeEventListener('mousemove', Resize, false);
            element.removeEventListener('mouseup', stopResize, false);
        }

        // set the bounding box info back to the server
        function set_type(){
            console.log("set");
            var x = document.getElementById("mySelect");
            var type  = x.options[x.selectedIndex].value;
            console.log(type);
            if (document.getElementById("moving_box") !== null ) {
                var mb = document.getElementById("moving_box");
                mb.title = type;
                var label = document.createElement('div');
                label.textContent = type;
                mb.appendChild(label);
                x.selectedIndex = x.defaultSelected;
                var record = {};
                record.type = 'box';

                record.catagrey = type;
                record.startY = mb.style.top;
                record.startX = mb.style.left;
                record.w = mb.style.width;
                record.h = mb.style.height;
                sendMessage(record);
            }
        }

        // for line drawing, TODO: for Kevin modify the three functions below
        function line_mousedown(e) {
            if(e.target.id.match('image')){
                var offset = $("#div1").offset();
                imgHeight = offset.height;
                imgWidth = offset.width;
                mouseX = e.pageX - offset.left;
                mouseY = e.pageY - offset.top;
                close = false;
                list.push({x: mouseX, y: mouseY});
                var y = document.getElementById("mySelect");
                var type  = y.options[y.selectedIndex].value;
                var record = {};
                record.type = 'line';
                record.list = list;
                record.catagrey = type;
                sendMessage(record);
            }
        }
        function line_mousemove(e) {
            console.log("move");
            if (drag) {
                  var offsetX = 0;
                  var offsetY = 0;
                  mouseX = e.pageX - offset.left;
                  mouseY = e.pageY - offset.top;
            }
        }
        function line_mouseup(e) {
            drag = false;
        }
    }
    </script>

</head>

<body>
    <header>
        <div class="navbar navbar-dark bg-dark">
            <div class="container d-flex justify-content-between">
                <a href="https://www.facebook.com" class="navbar-brand"><span class="glyphicon glyphicon-home"><h2> User Name</h2></span></a>
            </div>
        </div>
    </header>
    <main role="main" class="container" style="padding-top: 1rem;">
        <div class="row">
            <div class="card" style="margin-top: auto;">
                <div class="card-body">
                    <div class="btn-toolbar" role="toolbar" aria-label="...">
                        <div class="btn-group" role="group" aria-label="...">
                            <button class="btn btn-default" type="button" disabled>Image View</button>
                            <button class="btn btn-default" type="button" onclick="update_image('/image')">Original</button>
                            <button class="btn btn-default" type="button" onclick="update_image('/egde')">Edges</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="...">
                            <button class="btn btn-default" disabled>Conrast</button>
                            <button class="btn btn-default" type="button" onclick="update_image('/contrast_plus')"><span class="glyphicon glyphicon-plus"></span></button>
                            <button class="btn btn-default" type="button" onclick="update_image('/contrast_minus')"><span class="glyphicon glyphicon-minus"></span></button>
                        </div>
                    </div>
    
                    <div style="margin-left: 1rem; margin-right: 1rem; margin-top: 1rem; margin-bottom: 1rem;" id="div1"  onmousewheel="zoom()" >
                        <img id = "image" src="{{ url_for('image') }}">
                    </div>
                    
                    <div class="btn-toolbar" role="toolbar" aria-label="...">
                        <div class="btn-group" role="group" aria-label="...">
                            <button class="btn btn-default" type="button" disabled>Create Shape</button>
                            <button class="btn btn-default" type="button" id ="bounding_box">Bounding box</button>
                            <button class="btn btn-default" type="button" id ="line">Line</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="...">
                            <button class="btn btn-default" type="button" disabled>Annotate</button>
                            <button class="btn btn-default" type="button" id="set">Set</button>
                            <button class="btn btn-default" type="button" id ="reset">Reset</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="...">
                             <!-- 
                            <button type="button" class="btn btn-default" id="mySelect">Choose Type...</button>
                            <button selected="selected" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only" >Toggle Dropdown</span>
                            </button>
                                  <ul class="dropdown-menu">
                                    <li><a value='car'>Car</a></li>
                                    <li><a value='truck'>Truck</a></li>
                                    <li><a value='pedestrian'>Pedestrian</a></li>
                                    <li><a value='bicycle'>Bicycle</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a value="whiteBroken">White Broken</a></li>
                                    <li><a value="roadEdge">Road Edge</a></li>
                                  </ul>
                            -->


                               
                            <select id="mySelect">
                                <option selected="selected">choose type</option>
                                <option value="car">car</option>
                                <option value="truck">truck</option>
                                <option value="truck">pedestrian</option>
                                <option value="truck">bicycle</option>
                                <option value="whiteBroken">White Broken</option>
                                <option value="roadEdge">Road Edge</option>
                            </select>
                                                </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>