<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sandbox</title>
    
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



    <link href="https://getbootstrap.com/docs/4.0/examples/album/album.css" rel="stylesheet">
    <script>
        function update_image(url){
            var cont_count = 25; //variable for keeping track of the contrast adjustment
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.responseType = "blob";
            xhr.onload = function() {
                if (this.status == 200) {
                    var blob = this.response;
                    var img = document.createElement("img");
                    img.onload = function(e) {
                        window.URL.revokeObjectURL(img.src);
                    };
                    img.src = window.URL.createObjectURL(blob);
                    $("#div1").html(img);
                }
            }
            xhr.send();
        }
    </script>
    <script>
        function getMousePos(event) {
            var e = event || window.event;
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/click', true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.responseType = "blob";
            xhr.onload = function() {
                if (this.status == 200) {
                    var blob = this.response;
                    var img = document.createElement("img");
                    img.onload = function(e) {
                        window.URL.revokeObjectURL(img.src);
                    };
                    img.src = window.URL.createObjectURL(blob);
                    $("#div1").html(img);
                }
            }
            xhr.send(JSON.stringify({
                    'x': e.screenX,
                    'y': e.screenY
                }));
        }
    </script>

</head>

<body>
   <header>
          <div class="navbar navbar-dark bg-dark">
            <div class="container d-flex justify-content-between">
              <a href="https://www.facebook.com" class="navbar-brand"><span class="glyphicon glyphicon-home"><h2> User Name</h2></span></a>

            </div>
          </div>
        </header>




    <main role="main" class="container" style="padding-top: 1rem;">
        <div class="row">
            <div class="card" style="margin-top: auto;">
                <div class="card-body">
                    <div class="btn-toolbar" role="toolbar" aria-label="...">
                        <div class="btn-group" role="group" aria-label="...">
                            <button class="btn btn-default" type="button" onclick="update_image('/image')">Original</button>
                            <button class="btn btn-default" type="button" onclick="update_image('/egde')">Edges</button>
                            <button class="btn btn-default" type="button" onclick="contrast_adjust('/contrast_plus')">Contrast +</button>
                            <button class="btn btn-default" type="button" onclick="contrast_adjust('/contrast_minus')">Contrast -</button>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div style="margin-left: 1rem; margin-right: 1rem; margin-top: 1rem;" id="div1" onclick="getMousePos()">
                    <img src="{{ url_for('image') }}">
                </div>
            </div>
        </div>
    </main>
</body>
</html>